@model LikeModel

<button type="submit" id="Like">Нравится</button>
@Model.LikeCount
<button type="submit" id="Dislike">Не нравится</button>
@Model.DislikeCount


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">

        $(document).ready(function ()
        {
                $('#Like').click(function ()
                {

                $.ajax(
                    {
                        type: "POST",
                        url: "@Url.Action("AddLike", "Like")",
                        data: { PostId: @Model.PostId, UserId: "@Model.UserId" },
                        dataType: "text",
                        success: function (result)
                        {
                            $("#likes").html(result);
                        },
                        error: function (req, status, error) {
                            console.log(error);
                        }
                    });

            });
            $('#Dislike').click(function ()
            {
                $.ajax(
                    {
                        type: "POST",
                        url: "@Url.Action("AddDislike", "Like")",
                        data: { PostId: @Model.PostId, UserId: "@Model.UserId" },
                        dataType: "text",
                        success: function (result) {
                            $("#likes").html(result);
                        },
                        error: function (req, status, error) {
                            console.log(error);
                        }
                });
            });
        });
</script>


<script>
    var True = true;
    var False = false;
    var Like = document.getElementById("Like");
    var Dislike = document.getElementById("Dislike");

    if (@Model.CanLike) {
        $('#Like').attr('disabled', true);
        Like.className = 'likeDisable';
        Dislike.className = 'like';
    }
    else {
        if (@Model.CanDislike) {
            $('#Dislike').attr('disabled', true);
            Like.className = 'like';
            Dislike.className = 'likeDisable';
        }
        else {
            Like.className = 'like';
            Dislike.className = 'like';
        }
    }

</script>