@model IQueryable<Posts>

<div>
    <h2>Записи</h2>
    @if (Model.Any())
    {
        <ul class="big-image-list">
            @foreach (Posts entity in Model)
            {
                <li>
                    <h4>Заголовок: @entity.Title </h4>
                    <p> @entity.Text</p>
                    <h5>Опубликовал: @entity.Author</h5>
                    <div class="div-box">
                        <a asp-controller="Comment" asp-action="Index" asp-route-id="@entity.PostId">Комментарии</a> |
                        <a asp-controller="Comment" asp-action="AddComm" asp-route-id="@entity.PostId">Добавить комментарий</a>
                    </div>
                    <hr />
                </li>
            }
        </ul>
    }
    else
    {
        <h4>Нет записей</h4>
    }
</div>
